<%#= form_with model: @project do |form| %>
<%= form_for @project do |form| %>
  <% if @project.errors.any? %>
    <h2><%= pluralize(@project.errors.count, "error") %> prevented this project from saving:</h2>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form.label :title %><br>
  <%= form.text_field :title %>

  <br>
  <br>

  <%= form.label :description, "Write your description of this project here!" %><br>
  <%= form.text_area :description %>

  <br>
  <br>

  <%= form.label :link %><br>
  <%= form.text_field :link %>

  <br>
  <br>

  <%= form.submit %>
<% end %>
