<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
    <h1><%= @post.title %></h1>
    <hr>
  </header>

  <div id="content">
    <%= @post.content %>
  </div>

  <hr>

  <div id="share_post">
    <p>Share The Do list</p>
    <a onclick="window.open('https://twitter.com/share?text=<%= @post.title %> - &amp;url=<%= url_for([@post, only_path: false]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
      <i class="fab fa-twitter" aria-hidden="true"></i>
    </a>

    <a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= url_for([@post, only_path: false]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
      <i class="fab fa-facebook" aria-hidden="true"></i>
    </a>
  </div>

  <hr>
</div>

<br>
<br>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure to delete this post?"
} %>
